.wrapper {
    padding: 5px 200px;
}

.wrapper fieldset {
    margin: 2px ;
}

.App {
    text-align: center;
    font-weight: Bold;
    font-size: 20px;
    line-height: 30pt;
    padding-bottom: 80px;
    color: rgb(250, 246, 250)
  }

  .medication-title {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: Manrope, sans serif;
    padding-bottom: 30px;
  }