.medisafe__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.medisafe__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.medisafe__navbar-links_logo {
    margin-right: 2rem;
}

.medisafe__navbar-links_logo img {
    width: 130px;
    height: 100px;
}

.medisafe__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.medisafe__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.medisafe__navbar-links_container p,
.medisafe__navbar-sign p,
.medisafe__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.medisafe__navbar-sign button,
.medisafe__navbar-menu_container button {
    padding: 1rem 2rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.medisafe__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.medisafe__navbar-menu svg {
    cursor: pointer;
}

.medisafe__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rbga(0,0,0,0.2);
}

.medisafe__navbar-menu_container p {
    margin: 1rem 0;
}

.medisafe__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .medisafe__navbar-links_container {
        display: none;
    }

    .medisafe__navbar-menu {
        display: flex;
        z-index: 3;
    }
}

@media screen and (max-width: 700px) {
    .medisafe__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .medisafe__navbar {
        padding: 2rem;
    }

    .medisafe__navbar-sign {
        display:none
    }

    .medisafe__navbar-menu_container {
        top:20px;
    }

    .medisafe__navbar-menu_container-links-sign {
        display: block;
    }
}
